### Numpy Practice

In [19]:
import numpy as np
import pandas as pd

In [2]:
mylist = [1, 2, 3]

In [3]:
type(mylist)

list

In [4]:
np.array(mylist)

array([1, 2, 3])

In [7]:
# Used to get range
np.arange(0,10,2)

array([0, 2, 4, 6, 8])

In [8]:
np.zeros(5)

array([0., 0., 0., 0., 0.])

In [9]:
np.ones((4,4))

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [13]:
np.linspace(0, 10, 6)

array([ 0.,  2.,  4.,  6.,  8., 10.])

### Indexing and Selection

In [15]:
arr = np.arange(1, 11)
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [16]:
arr[8]

9

In [17]:
arr[1:5]

array([2, 3, 4, 5])

In [18]:
arr[:5]

array([1, 2, 3, 4, 5])

In [21]:
# help(pd.Series)

In [22]:
myindex = ['USA', 'Canada', 'Mexice']
mydata = [1776, 1867, 1821]

In [26]:
myser = pd.Series(data = mydata, index = myindex)

In [27]:
myser

USA       1776
Canada    1867
Mexice    1821
dtype: int64

In [25]:
type(myser)

pandas.core.series.Series

In [29]:
myser['USA']

1776

In [30]:
ages = {'Sam':5, 'Frank':10, 'Tabitha':8}

In [31]:
pd.Series(ages)

Sam         5
Frank      10
Tabitha     8
dtype: int64

In [32]:
# Imaginary Sales Data for 1st and 2nd Quaters
q1 = {'Japan':80, 'China':450, 'India':200, 'USA':250}
q2 = {'Brazil':100, 'China':500, 'India':210, 'USA':260}

In [33]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [34]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [35]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [37]:
sales_q1[0]

80

In [40]:
sales_q1.index[0]

'Japan'

In [43]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [44]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [45]:
sales_q1.add(sales_q2, fill_value = 0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [46]:
sales_q1.dtype

dtype('int64')

### DataFrames